<div class="auth-container">
    <form name="form" novalidate>
        <div class="content">
            <div class="welcome-wrapper">
                <span class="welcome">Sign In or Sign Up</span>
            </div>
            <div class="row">
                <input
                        id="emailField"
                        class="form-input"
                        type="text"
                        name="email"
                        placeholder="Your Email Address"
                        required
                /><br/>
            </div>
            <div class="row">
                <input
                        id="passwordField"
                        class="form-input"
                        type="password"
                        name="password"
                        placeholder="Your Password"
                        required
                />
            </div>
            <div class="submit-actions">
                <input type="button" value="Create Account" id="create-account" />
                <input type="button" value="Sign In" id="sign-in-account" />
            </div>
        </div>
    </form>
    <div class="buffer-overlay__share-modal__close login-window"></div>
</div>