<div class="footer">
    <div class="addPostWrapper">
        <div class="addPostDropdownArrowWrapper">
            <div class="addPostDropdownArrow">&#9660;</div>
        </div>
        <button type="submit" class="addPostButton">Add</button>
        <div class="folderDropdown">
            <div class="folderDropdownItem">
                FUN
            </div>
            <div class="folderDropdownItem">
                WORK
            </div>
            <div class="folderDropdownItem">
                Another folder
            </div>
            <div class="folderDropdownItem">
                <input type="text" id="createNewFolderInput" placeholder="create new folder..." />
                <button id="createNewFolderButton">Go</button>
            </div>
        </div>
    </div>
</div>