<div class="header-container">
    <div class="tabs">
        <div class="tab tab--active">
            <a href="">Simple Composer</a>
        </div>
    </div>
    <div class="avatar">
        <img src="https://scontent.xx.fbcdn.net/hprofile-xfa1/v/t1.0-1/c15.0.50.50/p50x50/10354686_10150004552801856_220367501106153455_n.jpg?oh=179f53b733169e2b5deb1ee5d5b61eb6&oe=56E79E2F"
             alt=""/>
    </div>
    <div class="socials">
        <img src="https://buffer.com/images/app/easy-account-connect-mini.png">
        <p>Connect</p>
        <p>More Accounts</p>
    </div>
    <div class="user-wrapper">
        <span class="email-text">You are logged in as </span><span class="email" data-content-text="userEmail"></span
    ><br /><span class="logout">Logout</span>
    </div>
</div>
