<div id="overlay-profiles" class="clearfix">
    <div>
        <div class="js-composer-selection composer-selection clearfix">
            <div class="composer-profiles-list ">
                <div class="composer-profiles-list--row">
                    <div class="profile-avatar--container">
                        <div class="js-profile profile-avatar selectable wide-tooltips
												selected " data-id="5652b27ebf826c4d1703db74"
                             style="background-image:url('https://scontent.xx.fbcdn.net/hprofile-xfa1/v/t1.0-1/c15.0.50.50/p50x50/10354686_10150004552801856_220367501106153455_n.jpg?oh=179f53b733169e2b5deb1ee5d5b61eb6&amp;oe=56E79E2F');">
                            <i class="profile-avatar--icon ss-social ss-facebook"></i>
                        </div>
						<span class="profile-avatar--tooltip">
						</span>
                    </div>

                    <a class="button connect-more-anchor js-connect-more" target="_blank"
                       href="https://bufferapp.com/app/profile/connect">
                        <img src="https://buffer.com/images/app/easy-account-connect-mini.png">
                        <span>Connect<br>More Accounts</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>